/* -------------------- CSS General -------------------- */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #26282B;
    height: 100vh;
    width: 100vw;
    /* Propiedades */
    text-align: center;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* ---------- Fonts ---------- */

@font-face {
    font-family: 'Capriola';
    src: url(font/Capriola-Regular.ttf);
}

/* -------------------- footer General -------------------- */

nav.nav_footer {
    font-family: 'Capriola';
    background-color: #353941;
    border-radius: 20px 20px 0px 0px;
    /* Dimensiones */
    line-height: 20.1vh;
    margin-left: 2.5vw;
    margin-top: 3vh;
    height: 97vh;
    width: 95vw;
    /* Estilo */
    color: #FFF;
    box-shadow: 0px 0px 0px 5px #FFF, inset 0px 10px 27px -8px #000, inset 0px -10px 27px -8px #000;
    overflow: hidden;
}

/* ----- Titulo ----- */

nav.nav_footer div.div_title {
    /* Efectos */
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 2px 2px 2px rgba(206, 89, 55, 0);
    box-shadow: inset 0px 10px 27px -8px #000, inset 0px -10px 27px -8px #000;
    border-radius: 20px 20px 0px 0px;
}

nav.nav_footer div.div_title h1 {
    /* Estilo */
    text-transform: uppercase;
    font-size: clamp(30px, 5vw, 60px);
    display: inline-block;
    animation: title_wave 10s ease infinite;
}

/* ----- Imagenes ----- */

nav.nav_footer img {
    height: 6.7vh;
    margin-top: 6.7vh;
    margin-bottom: 6.7vh;
}

/* ----- Secciones ----- */

nav.nav_footer div.div_content {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 14.85cm;
}

nav.nav_footer div.div_content::-webkit-scrollbar {
    width: 10px;
}

nav.nav_footer div.div_content::-webkit-scrollbar-track {
    background: #353941;
}

nav.nav_footer div.div_content::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 40px;
    border: 3px solid #353941;
}

nav.nav_footer a {
    display: flex;
    /* Estilo */
    color: #FFF;
    box-shadow: inset 0px 10px 27px -8px #000, inset 0px -10px 27px -8px #000;
    /* Dimensiones */
    justify-content: center;
}

nav.nav_footer a:hover {
    background-color: #5F85DB;
}

/* -- Variantes de las Secciones -- */

nav.nav_footer a#a_nav_riotgames:hover {
    background-color: #D80029;
}

nav.nav_footer a#a_nav_spotify:hover {
    background-color: #1ED760;
}

/* -------------------- main General -------------------- */

/* main figure.figure_card {
    position: fixed;
    color: #FFF;
    z-index: -10;
    background-color: #353941;
    border-radius: 20px;
    width: 100px;
    height: 100px;
} */

/* ---------- Animaciones ---------- */

@keyframes title_wave {
    0% {
        transform: translateY(0em);
    }

    34% {
        transform: translateY(0.5em);
    }

    68% {
        transform: translateY(-0.3em);
    }

    100% {
        transform: translateY(0em);
    }
}

@keyframes menuSlide {
    from {
        margin-top: 93vh;
    }
}

/* ---------- Pantalla de Carga ---------- */

.div_loader {
    /* Posición */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Diseño */
    display: flex;
    background-color: #26282B;
    justify-content: center;
    align-items: center;
    /* Retoques */
    position: fixed;
    z-index: 9999;
}

.div_loader .div_spin {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #5F85DB;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}