/* HTML */

body {
    background-image: url(./sources/Background.png);
    background-color: #17202A;
    text-align: center;
    color: #FDFEFE;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    border-radius: 3mm;
    cursor: default;
}

/* HTML - FONTS */

@font-face {
    font-family: 'Capriola';
    src: url(./fonts/Capriola-Regular.ttf);
}

@font-face {
    font-family: 'Bebas';
    src: url(./fonts/BebasNeue-Regular.ttf);
}

/* HTML - IMG */

img {
    object-fit: contain;
    height: 50px;
    width: 50px;
}

/* HEADER */

header.header_main {
    box-shadow: 5px 5px 15px 5px #000000;
    background-color: #FDFEFE;
    transition: all 1.5s ease;
    color: #17202A;
    line-height: 5%;
    position: fixed;
    cursor: default;
    width: 100%;
    z-index: 1;
}

h1.h1_header {
    font-family: 'Bebas';
    font-size: 50px;
}

header#header_back,
header#header_back_home,
header#header_home_hidden {
    cursor: pointer;
}

/* HEADER - HIDDEN HOME */

h1#h1_home {
    margin-left: 71vw;
    cursor: pointer;
}

/* HEADER - HOVER */

header.header_main:hover {
    letter-spacing: 15px;
}

header#header_home_hidden:hover {
    letter-spacing: 10px;
}

header#header_back:hover,
header#header_back_home:hover {
    border-bottom-right-radius: 5mm;
    transform: translateX(-30vw);
    background-color: #E74C3C;
    letter-spacing: 10px;
    color: #FDFEFE;
}

header#header_back_home:not(:hover) {
    transition-delay: 2s;
}

/* MAIN */

main {
    padding-top: 5cm;
}

div.div_container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

/* MAIN - CARDS */

div.div_cards {
    box-shadow: 5px 5px 15px 5px #000000;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FDFEFE;
    border-radius: 3mm;
    margin-top: 10mm;
    color: #17202A;
    margin-left: 5%;
    display: grid;
    width: 90%;
}

figure {
    margin-right: 50%;
    margin-left: 0;
}

div.div_name {
    transition: all 1s 0s ease;
    border-radius: 3mm;
    margin-left: -5vw;
    padding-left: 1cm;
}

div.div_name:hover {
    margin-left: -50%;
    padding-left: 5%;
    color: #FDFEFE;

}

h2.h2_name {
    font-family: 'Capriola';
    line-height: 9mm;
    font-size: 30px;
}

/* MAIN - CARDS - SETTINGS */

div#div_card_alone {
    margin-left: 55%;
}

div.div_cards {
    transition: all 1s 0s ease;
    cursor: pointer;
}

div.div_cards:hover {
    transform: scale(0.95);
}

/* MAIN - CARDS - COLORS */

div#div_name_red:hover {
    background-color: #E74C3C;
}

div#div_name_green:hover {
    background-color: #2ECC71;
}

div#div_name_grey:hover {
    background-color: #7F8C8D;
}

div#div_name_blue:hover {
    background-color: #2E86C1;
}

div#div_name_gold:hover {
    background-color: #F5B041;
}

/* MAIN - CARDS - KEYFRAMES */



/* MOBILE RESPONSIVE */

@media (max-width: 800px) {
    div.div_name {
        display: none;
    }

    div.div_figure {
        border: solid transparent;
    }

    figure {
        margin-right: 0;
    }

    div.div_cards {
        display: block;
        width: 90%;
    }

    div.div_container {
        width: 100vw;
    }
}

@media (max-width: 500px) {
    div.div_container {
        grid-template-columns: repeat(1, 1fr);
    }
}