/* HTML */

body {
    background-color: #17202A;
    text-align: center;
    color: #FDFEFE;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    border-radius: 3mm;
    cursor: default;
}

/* HTML - FONTS */

@font-face {
    font-family: 'Bigboz';
    src: url(./fonts/Bigboz.otf);
}

@font-face {
    font-family: 'RetroComputer';
    src: url(./fonts/retro_computer_personal_use.ttf);
}

/* HTML - IMG */

img {
    object-fit: contain;
    height: 50px;
    width: 50px;
}

/* HEADER */

header {
    box-shadow: 5px 5px 15px 5px #000000;
    background-color: #FDFEFE;
    transition: all 2s ease;
    color: #17202A;
    line-height: 5%;
    position: fixed;
    cursor: default;
    width: 100vw;
    z-index: 2;
}

h1#h1_header {
    font-family: 'Bigboz';
    font-size: 50px;
}

header#header_back,
header#header_back_home {
    cursor: pointer;
}

/* HEADER - HIDDEN HOME */

h1#h1_home {
    font-family: 'Bigboz';
    margin-left: 70vw;
    font-size: 50px;
    cursor: pointer;
}

/* HEADER - HOVER */

header#header_home:hover {
    transform: scale(1.2);
    letter-spacing: 10px;
}

header#header_home_hidden:hover {
    letter-spacing: 10px;
}

header#header_back:hover,
header#header_back_home:hover {
    border-bottom-right-radius: 5mm;
    transform: translateX(-30vw);
    background-color: #E74C3C;
    color: #FDFEFE;
}

header#header_back_home:not(:hover) {
    transition-delay: 2s;
}

/* MAIN */

div.div_container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

/* MAIN - CARDS */

div.div_cards {
    box-shadow: 5px 5px 15px 5px #000000;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FDFEFE;
    border-radius: 3mm;
    color: #17202A;
    margin-left: 5%;
    display: grid;
    width: 90%;
}

figure {
    margin-right: 50%;
    margin-left: 0;
}

div.div_name {
    transition: all 1s 0s ease;
    margin-left: -5vw;
    border-radius: 3mm;
    line-height: 4.5vw;
    padding-left: 1cm;
    font-size: 0.9vw;
}

div.div_name:hover {
    margin-left: -50%;
    padding-left: 5%;
    color: #FDFEFE;

}

h2.h2_name {
    font-family: 'RetroComputer';
}

/* MAIN - CARDS - SETTINGS */

div#div_card_top {
    margin-top: 35%;
}

div.div_cards {
    transition: all 1s 0s ease;
    margin-top: 2.5cm;
    cursor: pointer;
}

div.div_cards:hover {
    transform: scale(0.95);
}

/* MAIN - CARDS - COLORS */

div#div_name_riotgames:hover,
div#div_name_valorant:hover {
    background-color: #E74C3C;
}

div#div_name_spotify:hover {
    background-color: #2ECC71;
}

div#div_name_games:hover {
    background-color: #7F8C8D;
}

div#div_name_movies:hover {
    background-color: #566573;
}

div#div_name_lol:hover,
div#div_name_tft:hover {
    background-color: #2E86C1;
}

div#div_name_lor:hover {
    background-color: #F5B041;
}

/* MAIN - CARDS - KEYFRAMES */



/* MOBILE RESPONSIVE */

@media (max-width: 600px) {
    div.div_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* BACKGROUND */

body {
    background-color: #17202A;
    background-image: radial-gradient(#566573 0.30000000000000004px, #17202A 0.30000000000000004px);
    background-size: 6px 6px;
}